<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">

    <title>@ViewBag.Title - NSDA</title>
    @Styles.Render("~/Content/asset/css/bootstrap.min.css")
    @Styles.Render("~/Content/asset/css/basic.css")
    @Styles.Render("~/Content/asset/css/iconfont.css?2.1.2")
    @Styles.Render("~/Content/asset/css/index.css?1.1.1")
    @Styles.Render("~/Content/asset/css/event.css?1.1.0")
    @*@Scripts.Render("~/Scripts/jquery-3.2.1.min.js")*@
    @Scripts.Render("~/Content/asset/js/jquery.min.js")
    <!--[if IE]>
    @Scripts.Render("~/Content/asset/js/jquery.min.js")
    <![endif]-->
    @Scripts.Render("~/Content/asset/js/bootstrap.min.js")
    @Scripts.Render("~/Content/asset/js/laydate/laydate.js")
</head>
<body>
    <div class="container-fluid eventtop">
        <a href="#"><i class="iconfont icon-tansuob"></i></a>
        <a href="#"><i class="iconfont icon-user"></i></a>
        <h3>NSDA 赛事管理员</h3>
        <h5>Code: 2156784</h5>
    </div>
    <div class="container-fluid event-nav">
        <div class="container">
            <ul>
                <a href="/Home/EventStart"><li>发起比赛<span class="tri"></span></li></a>
                <a href="/Home/EventManage"><li>比赛进程管理<span class="tri"></span></li></a>
            </ul>
        </div>
    </div>
    <div class="eventleft">
        <a href="javascript:;"><i class="iconfont icon-yonghu3"></i></a>
        <a href="javascript:;"><i class="iconfont icon-youjianxinjian"></i></a>
    </div>
    <div class="body-content">
        @RenderBody()

    </div>
    <!--联系我们-->
    <div class="container">
        <div class="row contact">
            <span></span>
            <h2>联系我们<br>GET IN TOUCH</h2>
            <p>全美演讲与辩论联盟中国办公室（NSDA China）欢迎教育、传媒、金融等社会各领域组织机构<br>与我方进行冠名、赞助等多种形式合作，共同推动学术辩论与公共演讲在中国的蓬勃发展。</p>

            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <img src="~/Content/asset/img/map-3.svg" alt="">
                        <p>上海市杨浦区淞沪路303号创智天地11号楼501室</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <img src="~/Content/asset/img/chat-user-2.svg" alt="">
                        <p>021-60452021</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <img src="~/Content/asset/img/mail-at.svg" alt="">
                        <p>joyofdebate@dipont-edu.com</p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="blank">

    </div>
    <footer>
        <p>Copyright © 2005 - 2017 National Forensic League of China All Reserved</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>

