@{
    Layout = "~/Views/Shared/_Role.cshtml";
    ViewBag.Title = "会员积分查询";
}
<link href="@Url.Content("~/Content/asset/css/common/common.css?2.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/player/Playerintegral.css?2.1.2")" rel="stylesheet" type="text/css" />
<link href="~/Content/asset/css/player/player.min.css?1.1.0" rel="stylesheet" />


@Html.Partial("_PlayerTop")
<div class="container player-compe">
    @Html.Partial("_PlayerLeft")
    <div class="score-con role">
        <div class="score-table scoredetail">
            <table>
                <thead class="garybg">
                    <tr>
                        <th>排名</th>
                        <th>队伍编号</th>
                        <th>会员编号</th>
                        <th>姓名</th>
                        <th>Points</th>
                        <th>Rank总和</th>
                        <th>队伍总分</th>
                        <th>队伍Rank</th>
                        <th>循环赛</th>
                        <th>对手胜</th>
                        <th>对手队伍总分</th>
                        <th>对手Rank总和</th>
                        <th>淘汰赛</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                        <td rowspan="2" class="remark"><p>Rd1:W</p><p>Rd1:W</p><p>Rd1:W</p></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("contact")
<script>
    var classVal = document.getElementById("collapseTwo").getAttribute("class");
    classVal = classVal.concat("in");
    document.getElementById("collapseTwo").setAttribute("class", classVal);

</script>
