@using nsda.Utilities
@using nsda.Model.dto.response
@{
    ViewBag.Title = "会员中心";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
    var mail = ViewBag.Mail as List<MailResponse>;
    var data = ViewBag.CurrentPlayerEvent as List<PlayerCurrentEventResponse>;
    var eventId = 0;
    var flag = 0;
    var rowspan = 1;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/playercenter.css?version=@Constant.Version">
<link rel="stylesheet" href="/asset/css/common.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/messagebox.css?version=@Constant.Version">
}
<div class="info-con">
@foreach (var item in data)
{
    <table>
        <thead>
            <tr>
                <th width="13%">比赛编码</th>
                <th width="22%">比赛名称</th>
                <th width="7%">类别</th>
                <th width="15%">比赛日期</th>
                <th width="13%">会员编码</th>
                <th width="15%">队员</th>
                <th width="15%"></th>
            </tr>
        </thead>
        <tbody>

            if (eventId != item.EventId)
            {
                eventId = item.EventId;
                flag = 1;
                rowspan = data.Where(p => p.EventId == item.EventId).Count();
            }
            else
            {
                flag = 0;
            }
            <tr>
                @if (flag == 1)
                {
                    <td rowspan="@rowspan">@item.EventCode</td>
                    <td rowspan="@rowspan">@item.EventName</td>
                    <td rowspan="@rowspan">@item.EventType</td>
                    <td rowspan="@rowspan">@item.StartEventDate.ToString("yyyy-MM-dd")</td>
                }
                <td>@item.MemberCode</td>
                <td>@item.MemberName</td>
                @if (flag == 1)
                {
                   <td rowspan="@rowspan"><a href="#" class="enter radius5 color-white orange">进入比赛</a></td>
                }
            </tr>
   
        </tbody>
    </table>  
}
    <div class="msg-box">
        <p>消息盒子 Message Box</p>
        <a href="/player/player/mail"><img src="/asset/img/more.gif" alt="..." class="msg-more"></a>
    </div>

    @if (mail != null)
    {
        foreach (var item in mail)
        {
            <div class="msgbox-con">
                <div class="msgimg">
                    @if (string.IsNullOrEmpty(item.Head))
                    {
                        <img src="/asset/img/teacher.png" alt="...">
                    }
                    else
                    {
                        <img src="@item.Head" alt="...">
                    }
                    <p>通知</p><p>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss").Substring(5, 5)</p><p>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss").Substring(11, 5)</p>
                </div>
                <div class="msgc">
                    <p class="msgteam">@item.Title</p>
                    <p class="teamcon">@Html.Raw(item.Content)</p>
                </div>
                <a href="/player/playersignup/list" class="cmore radius5 color-white blue">查看详情</a>
            </div>
       }
   }
</div>