@using nsda.Utilities
@using nsda.Model.dto.response
@model MemberPlayerResponse
@{
    ViewBag.Title = "修改个人资料";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
    var userContext = ViewBag.UserContext as WebUserContext;
    var coachInfo = ViewBag.CoachInfo as CurrentCoachResponse;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/playerpersonal.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/common.css?version=@Constant.Version">
}
<div class="pi-top score-top">
    <img class="integral" src="/asset/img/score_03.jpg" alt="...">
    <p class="scorecheck">修改个人资料</p>
</div>
<div class="score-con">
    
    <div class="per-con">
        <div class="person-title"></div>
        <div class="modifyinfo">
            <div class="form-group">
                <label>注册邮箱</label>
                <div class="form-con"><p>@userContext.Account</p></div>
            </div>
            <div class="form-group">
                <label for="phone">联系电话</label>
                <div class="form-con">
                    <input type="text" class="radius5" id="phone" value="@Model.ContactMobile">
                </div>
            </div>
            <div class="form-group two-label">
                <div>
                    <label for="emrcontact">紧急联系人</label>
                    <div class="form-con">
                        <input type="text" class="radius5" id="emrcontact" value="@Model.EmergencyContact">
                    </div>
                </div>
                <div>
                    <label for="emrphone">紧急电话</label>
                    <div class="form-con">
                        <input type="text" class="radius5" id="emrphone" value="@Model.EmergencyContactMobile">
                    </div>
                </div>
            </div>
            <div class="form-group current-coach">
                <label>目前教练</label>
                <div class="form-con">
                    @if (coachInfo != null)
                {
                        <p class="coach">
                            @Html.Raw(coachInfo.CoachName)
                        </p>
                        <a href="/player/playercoach/index" class="modifycoach radius5">修改</a>
                }
                else
                { <a href="/player/playercoach/index" class="modifycoach">去绑定</a> }
                </div>
            </div>
            <div class="form-group education">
                <label>教育经历</label>
                <div class="form-con">
                    <ul class="edulists" id="edu">
                        <li><span class="addedu radius5 color-white darkgreen" id="addedu">添加</span></li>
                    </ul>
                  
                </div>
            </div>
            <input type="button" value="修改个人资料" class="submit radius5 color-white darkblue" id="modifyinfo">
        </div>
        <div class="modifypassword">
            <img src="/asset/img/password_03.jpg" alt="" />
            <div class="modifypanel">
                    <input type="password" class="radius5" id="newpwd" placeholder="输入新密码">
                    <input type="password" class="radius5" id="againpwd" placeholder="再次输入新密码">
                    <input type="button" value="确认新密码" class="confirmnewpassword radius5" id="modifypwd">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="/asset/js/validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#collapseTwo").addClass("in");
        });
        $("#modifypwd").click(function () {
            var $newpwd = $("#newpwd").val();
            var $againpwd = $("#againpwd").val();
            if (validate.isNull($newpwd.val())) {
                layer.msg('请输入新密码', { icon: 5, time: 1000 });
                return;
            }
            if (validate.isNull($againpwd.val())) {
                layer.msg('请再次输入新密码', { icon: 5, time: 1000 });
                return;
            }
            if ($newpwd != $againpwd) {
                layer.msg('两次输入的密码不一致', { icon: 5, time: 1000 });
                return;
            }
            if (!validate.isPwd($newpwd))
            {
                layer.msg('密码必须是6-32位数字、大、小写字母、特殊符号中的二种及以上的组合！', { icon: 5, time: 1000 });
                return;
            }
            $.ajax({
                url: "/commondata/editpwd",
                type: "post",
                dataType: "json",
                data: {
                    pwd: $newpwd,
                },
                beforeSend: function () {
                    layer.msg('修改密码中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("修改成功", { icon: 1, time: 1000 });
                        $("#newpwd").val("");
                        $("#againpwd").val("");
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
                , error: function () {
                    layer.closeAll();
                }
            });
        });

        $("#modifyinfo").click(function () {
            var $ContactMobile = $("#phone").val();
            if (validate.isNull($ContactMobile.val())) {
                layer.msg('请输入联系电话', { icon: 5, time: 1000 });
                return;
            }
            var $EmergencyContact = $("#emrcontact").val();
            if (validate.isNull($EmergencyContact.val())) {
                layer.msg('请输入紧急联系人', { icon: 5, time: 1000 });
                return;
            }
            var $EmergencyContactMobile = $("#emrphone").val();
            if (validate.isNull($EmergencyContactMobile.val())) {
                layer.msg('请输入紧急联系人电话', { icon: 5, time: 1000 });
                return;
            }
            $.ajax({
                url: "/player/player/edit",
                type: "post",
                dataType: "json",
                data: {
                    ContactMobile: $ContactMobile,
                    EmergencyContactMobile: $EmergencyContactMobile,
                    EmergencyContact: $EmergencyContact
                },
                beforeSend: function () {
                    layer.msg('修改个人资料中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("修改成功", { icon: 1, time: 1000 });
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
                , error: function () {
                    layer.closeAll();
                }
            });
        });

        $(document).ready(function () { renderedu();});

        function renderedu()
        {
            $.ajax({
                url: "/player/player/listedu",
                type: "get",
                dataType: "json",
                success: function (json) {
                    var html = '<li><span class="addedu radius5 color-white darkgreen" id="addedu">添加</span></li>';
                    if (json.data != null && json.data.length > 0)
                    {
                        $.each(json.data, function (k, val) {
                            html += '<li>';
                            html += '<p>' + val.StartDate + '-';
                            if (val.EndDate == "" || val.EndDate == null) {
                                html += "至今";
                            } else {
                                html += val.EndDate;
                            }
                            html += '</p>';
                            html += '<p>' + val.ProvinceName + '</p>';
                            html+='<p>'+val.CityName+'</p>';
                            html+='<p>'+val.SchoolName+'</p>';
                            html += '<a href="javascript:;" data-id='+val.Id+' class="editedu">编辑</a>';
                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="deledu">删除</a>';
                            html += '</li>';
                        });
                    }
                    $("#edu").html(html);
                }
            });        
        }

        $(document).on("click", ".deledu", function () {
            $.ajax({
                url: "/player/player/deleteedu",
                type: "post",
                dataType: "json",
                data: {
                    id: $(this).attr("data-id")
                },
                beforeSend: function () {
                    layer.msg('删除教育经历中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        renderedu();
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
                , error: function () {
                    layer.closeAll();
                }
            });
        });

        $(document).on("click", "#addedu", function () {
            layer.open({
                title: "",
                type: 2,
                content: "/player/player/addedu",
                area: ["565px", "401px"],
                end: function () {
                    location.reload();
                }
            });
        });

        $(document).on("click", ".editedu", function () {
            var id = $(this).attr("data-id");
            
            layer.open({
                title: "",
                type: 2,
                content: "/player/player/editedu/" + id,
                area: ["565px", "401px"],
                end: function () {
                    renderedu();
                }
            });
        });
    </script>
}
