@using nsda.Utilities
@using nsda.Model.dto.response
@model EventResponse
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "循环赛设置确认";
    var eventGroup = ViewBag.EventGroup as List<EventGroupResponse>;
    var cyclingRaceSettings = ViewBag.CyclingRaceSettings as EventCyclingRaceSettingsResponse;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/eventmangage/eventmanageplayer.css?version=@Constant.Version">
    <link href="/asset/css/eventmangage/eventnewinfoconfirm.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
<link href="/asset/css/common/common.css?version=@Constant.Version" rel="stylesheet" />
}
@Html.Partial("_left")
<div class="event-lists ">
    <input type="hidden" id="eventId" value="@Model.Id"/>
    <input type="hidden" id="eventGroupId" value="@ViewBag.EventGroupId"/>
    <div class="list-top">
        @foreach (var item in eventGroup)
        {
            if (item.Id == ViewBag.EventGroupId)
            {
                <a href="/eventmanage/eventmanage/cyclingsettingconfirm?eventId=@item.EventId&eventGroupId=@item.Id" class="active list">@item.Name</a>
            }
            else
            {
                <a href="/eventmanage/eventmanage/cyclingsettingconfirm?eventId=@item.EventId&eventGroupId=@item.Id" class="list">@item.Name</a>
            }
        }
    </div>
    <div class="event-con">
        <div class="rangeconfirm">
            <div><h3>参赛队伍签到人数：</h3><p>@ViewBag.SignUp</p></div>
            <div><h3>裁判打分区间：</h3><p>@cyclingRaceSettings.StartRange</p><p class="to">至</p><p>@cyclingRaceSettings.EndRange</p></div>
            <div><h3>是否允许裁判打0.5分： </h3><p>@cyclingRaceSettings.IsAllow?@Html.Raw("允许"):@Html.Raw("不允许")</p></div>
        </div>
        <div class="listconfirm">
            <div><h3>循环赛场数为：</h3><p>@cyclingRaceSettings.TotalRound</p>
               @if (cyclingRaceSettings.Screenings == 1)
               {
                 <p>仅 Flight A</p>
               }
               else if (cyclingRaceSettings.Screenings == 2)
               {
                <p>分 Flight A 和 Flight B</p>
               }
               else
               {
                <p>分 Flight A 和 Flight B 和 Flight C</p>
               }
            </div>
            @for (int i = 0; i < cyclingRaceSettings.TotalRound; i++)
            {
                <div><h3>循环赛第 @i 轮：</h3><p>@cyclingRaceSettings.ListCyclingRace[i].PairRule</p></div>
            }
        </div>
        <button class="alter" id="back">前往修改</button>
        <button class="stargame" id="start">确认！开始比赛。</button><p class="tips">* 确认开始比赛后，将无法修改“比赛规则设置”。 </p>
    </div>
</div>

@section scripts
{

<script src="/asset/js/slide.js?version=@Constant.Version"></script>
    <script>
        $(function () {
            $(".clickready").click(function () {
                slide();

            });
        });
        //前往修改
        $("#back").click(function () {
            location.href = "/eventmanage/eventmanage/cyclingsetting/"+$("#eventId");
        });
        //开始比赛
        $("#start").click(function () {
            var eventId = $("#eventId").val();
            var eventGroupId = $("#eventGroupId").val();
            //调用方法修改当前组别赛事状态
        });
    </script>
}
