@using nsda.Utilities
@using nsda.Model.dto.response
@model EventResponse
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "循环赛设置";
    var eventGroup = ViewBag.EventGroup as List<EventGroupResponse>;
    var cyclingRaceSettings = ViewBag.CyclingRaceSettings as List<EventCyclingRaceSettingsResponse>;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/eventmanage/eventmanageplayer.css?version=@Constant.Version">
    <link href="/asset/css/eventmanage/eventmanageround.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
    <link href="/asset/css/common/common.css?version=@Constant.Version" rel="stylesheet" />
}
@Html.Partial("_left")
<div class="event-lists">
    <div class="list-top">
        <a href="javascript:;" class="active box-sizing list">循环赛规则设置</a>
        <a href="/eventmanage/eventmanage/knockoutsetting/@Model.Id" class="list box-sizing">淘汰赛规则设置</a>
    </div>
    <div class="roundset">
        <h3>循环赛规则设置</h3>
        @foreach (var item in cyclingRaceSettings)
        {
            var groupName = eventGroup.Where(c => c.Id == @item.EventGroupId).ToList()[0].Name;

            <div class="newround">
                <h4>@groupName 循环赛规则设置<span><i></i></span></h4>

                <div class="form-group range">
                    <label>裁判打分值区间：</label>
                    <input type="number" class="radius5" placeholder="输入数值" value="@item.StartRange" />至<input type="number" class="radius5" placeholder="输入数值" value="@item.EndRange" />
                </div>
                <div class="form-group yn">
                    <label>是否允许裁判打0.5分：</label>
                    @{
                        if (item.IsAllow)
                        {
                            <label class="radio-inline">
                                <input type="radio" name="IsAllow_@item.Id" checked value="1"><label>允许</label>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="IsAllow_@item.Id"> <label>不允许</label>
                            </label>
                        }
                        else
                        {
                            <label class="radio-inline">
                                <input type="radio" name="IsAllow_@item.Id" value="1"><label>允许</label>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="IsAllow_@item.Id" checked> <label>不允许</label>
                            </label>
                        }
                    }
                    <p>* 如果如果允许，裁判可以在在规定的打分区间内打半分。例如：27.5分</p>
                </div>
                <div class="rounds">
                    <a href="javascript:;" class="addrounds radius5 color-white blue addRound">+ 添加比赛轮数</a>
                    <div class="form-group flight">
                        <label class="radio-inline flightlevel">
                            <input type="radio" name="flight_@item.Id" checked value="1"> 仅 Flight A
                        </label>
                        <label class="radio-inline flightlevel">
                            <input type="radio" name="flight_@item.Id" value="2"> 分 Flight A 和 Flight B
                        </label>
                        <label class="radio-inline flightlevel">
                            <input type="radio" name="flight_@item.Id" value="3"> 分 Flight A 、 Flight B 和 FLight C
                        </label>
                        <p>* 设置Flight是为了在竟可能少的使用到Room和裁判数量。例如：32支队伍，采用“仅Flight A” 需要使用到的Room数量为16间，裁判至少需要16位。如果采取“分Flight A 和 Flight B” 则需要8间Room,裁判则降为至少需要8位。但是，代价是比赛的时间延长。 </p>
                    </div>
                </div>
                <div class="roundone">
                    <ul class="eventRound">
                        @foreach (var Race in item.ListCyclingRace)
                        {
                            <li id="eventId">
                                <label>循环赛第</label>@Race.CurrentRound<label>轮</label>
                                <select class="rset radius5">
                                    @{
                                        var selectPair1 = "";
                                        var selectPair2 = "";
                                        var selectPair3 = "";
                                        if ((int)Race.PairRule == 1)
                                        {
                                            selectPair1 = "selected";
                                        }
                                        else if ((int)Race.PairRule == 2)
                                        {
                                            selectPair2 = "selected";
                                        }
                                        else if ((int)Race.PairRule == 3)
                                        {
                                            selectPair3 = "selected";
                                        }
                                        <option value="1" @selectPair1>随机配对 Perset round</option>
                                        <option value="2" @selectPair2>高低配对 High-Low Power Macth</option>
                                        <option value="3" @selectPair3>相等配对 High-High Powe</option>

                                    }
                                </select>

                                @foreach (var flight in Race.ListCyclingRaceDetail)
                                {

                                    <label>Flight A:</label>
                                    <input type="text" class="settime radius5 color-79" placeholder="输入比赛时间" readonly />

                                }
                            </li>
                                        }
                    </ul>
                </div>


            </div>
                                        }
        <button class="confirmset darkblue radius5 color-white" id="save" style="margin-top:10px;">确认保存循环赛设置</button>
    </div>
</div>
@section scripts
{
    <script src="/asset/js/laydate/laydate.js"></script>
    <script src="/asset/js/slide.js?version=@Constant.Version"></script>
    <script>
        lay('.settime').each(function () {
            laydate.render({
                elem: this,
                type: 'datetime',
                trigger: 'click'
            });
        });
        $(function () {
            $(".clickready").click(function () {
                slide();

            });
        });

        //保存循环赛设置
        $("#save").click(function () {
            alert(10);
            var data = [];
            data.push("");
            $.ajax({
                url: "/eventmanage/eventmanage/cyclingracesettings",
                type: "post",
                dataType: "json",
                data: {
                    request: data
                },
                beforeSend: function () {
                    layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("设置成功", { icon: 1, time: 1000 });
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
             , error: function () {
                 layer.closeAll();
             }
            });
        });

        //添加比赛轮数
        var html = '<li>';
        html += '<label>'
        html += '循环赛第一轮';
        html += '</label>';
        html += '<select class="rset radius5" style="margin-left:3px;margin-right:3px;">';
        html += '<option value="1">随机配对 Perset round</option>';
        html += '<option value="2">高低配对 High-Low Power Macth</option>';
        html += '<option value="3">相等配对 High-High Powe</option>';
        html += '</select>';
        html += '<label>Flight A:</label>';
        html += '<input type="text" class="settime radius5 color-79" style="margin-left:3px;margin-right:3px;" placeholder="输入比赛时间" readonly />';
        html += '<i class="iconfont icon-close-b delRound" style="color:#ff6666;"></i>'
        html += '</li>';


        var html2 = '<li>';
        html2 += '<label>'
        html2 += '循环赛第一轮';
        html2 += '</label>';
        html2 += '<select class="rset radius5" style="margin-left:3px;margin-right:3px;">';
        html2 += '<option value="1">随机配对 Perset round</option>';
        html2 += '<option value="2">高低配对 High-Low Power Macth</option>';
        html2 += '<option value="3">相等配对 High-High Powe</option>';
        html2 += '</select>';
        html2 += '<label>Flight A:</label>';
        html2 += '<input type="text" class="settime radius5 color-79" style="margin-left:3px;margin-right:3px;" placeholder="输入比赛时间" readonly />';
        html2 += '<label>Flight B:</label><input type="text" class="settime radius5 color-79" placeholder="输入比赛时间" readonly />';
        html2 += '<i class="iconfont icon-close-b delRound" style="color:#ff6666;"></i>';
        html2 += '</li>';

        var html3 = '<li>';
        html3 += '<label>'
        html3 += '循环赛第一轮';
        html3 += '</label>';
        html3 += '<select class="rset radius5" style="margin-left:3px;margin-right:3px;">';
        html3 += '<option value="1">随机配对 Perset round</option>';
        html3 += '<option value="2">高低配对 High-Low Power Macth</option>';
        html3 += '<option value="3">相等配对 High-High Powe</option>';
        html3 += '</select>';
        html3 += '<label>Flight A:</label>';
        html3 += '<input type="text" class="settime radius5 color-79" style="margin-left:3px;margin-right:3px;" placeholder="输入比赛时间" readonly />';
        html3 += '<label>Flight B:</label><input type="text" class="settime radius5 color-79" placeholder="输入比赛时间" readonly />';
        html3 += '<i class="iconfont icon-close-b delRound" style="color:#ff6666;"></i>';
        html3 += '<label>Flight C:</label><input type="text" class="settime radius5 color-79" placeholder="输入比赛时间" readonly />';
        html3 += '</li>';


        $(".addRound").click(function () {
            var val = $(this).siblings(".flight").children(".flightlevel").children("input:checked").val();
            if (val == 1) {
                $(this).parent().siblings(".roundone").children(".eventRound").append(html);
            } else if (val == 2) {
                $(this).parent().siblings(".roundone").children(".eventRound").append(html2);
            } else if (val == 3) {
                $(this).parent().siblings(".roundone").children(".eventRound").append(html3);
            }
            lay('.settime').each(function () {
                laydate.render({
                    elem: this,
                    type: 'datetime',
                    trigger: 'click'
                });
            })
        });

        $(document).on("click", ".delRound", function () {
            $(this).parent().remove();
        })

    </script>
}
