@using nsda.Utilities
@using nsda.Model.dto.response
@model EventResponse
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "循环赛设置确认";
    var eventGroup = ViewBag.EventGroup as List<EventGroupResponse>;
    var cyclingRaceSettings = ViewBag.CyclingRaceSettings as EventCyclingRaceSettingsResponse;
}
@section styles
{
    <link href="/asset/css/eventmanage/eventmanageplayer.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
    <link href="/asset/css/eventmanage/eventnewinfoconfirm.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
    <link href="/asset/css/common/common.css?version=@Constant.Version" rel="stylesheet" />
}
@Html.Partial("_left")
<div class="event-lists ">
    <input type="hidden" id="eventId" value="@Model.Id"/>
    <input type="hidden" id="eventGroupId" value="@ViewBag.EventGroupId"/>
    <input type="hidden" id="eventType" value="@ViewBag.eventType" />
    <div class="list-top">
        @foreach (var item in eventGroup)
        {
            if (item.Id == ViewBag.EventGroupId)
            {
                <a href="/eventmanage/eventmanage/cyclingsettingconfirm?eventId=@item.EventId&eventGroupId=@item.Id" class="active list">@item.Name</a>
            }
            else
            {
                <a href="/eventmanage/eventmanage/cyclingsettingconfirm?eventId=@item.EventId&eventGroupId=@item.Id" class="list">@item.Name</a>
            }
        }
    </div>
    <div class="event-con" id="data">

    </div>
</div>

@section scripts
{

<script src="/asset/js/slide.js?version=@Constant.Version"></script>
    <script>
        b();
        $(function () {
            $(".clickready").click(function () {
                slide();

            });
        });
        
        (function (w) {
            var infolists = {
                param: {
                    EventId:@Model.Id,
                    EventGroupId:0
                }
            };
            infolists.Load = function (filter) {

                $.ajax({
                    url:"Getcyclingsetting/@Model.Id",
                    type:"get",
                    dataType:"json",
                    success:function(json){
                        $.each(json.settings,function(k,val){
                            var html='<div class="rangeconfirm">';
                            html+='<div><h3>参赛队伍签到人数：</h3><p>30</p></div>';
                            html+='<div><h3>裁判打分区间：</h3><p>'+ val.StartRange + '</p><p class="to">至</p><p>'+ val.EndRange + '</p></div>';
                            html+='<div><h3>是否允许裁判打0.5分： </h3>';
                            if(val.IsAllow){
                                html+='<p>允许</p></div>';
                            }
                            else{
                                html+='<p>不允许</p></div>';
                            }
                            html+='</div>';
                            html+='<div class="listconfirm">';
                            html+='<div><h3>循环赛场数为：</h3><p>'+ val.Screenings +'</p>';

                            html+='</div>';

                            for(var i=0;i<val.ListCyclingRace.length;i++){
                                html+='<div><h3>循环赛第'+ val.ListCyclingRace[i].CurrentRound + '轮：</h3>';
                                if(val.ListCyclingRace[i].PairRule == 1){
                                    html+='<p>随机配对 Perset round</p>';
                                }
                                else if(val.ListCyclingRace[i].PairRule == 2){
                                    html+='<p>高低配对 High-Low Power Macth</p>';
                                }
                                else if(val.ListCyclingRace[i].PairRule == 3){
                                    html+='<p>相等配对 High-High Powe</p>';
                                }
                                html+='</div>';
                            }

                            html+='</div>';
                            html+='<a href="/eventmanage/eventmanage/cyclingsetting/@Model.Id" class="alter">前往修改</a>';
                            html+='<a href="/eventmanage/eventmanage/speechwork?eventId=@Model.Id&eventGroupId=0" class="stargame">确认！开始比赛。</a><p class="tips">* 确认开始比赛后，将无法修改“比赛规则设置”。 </p>';
                            $("#data").html(html)
                        });

                    }

                })
            }
            w.infolists = infolists
        })(window);
        infolists.Load(infolists.param);
        //前往修改
        $("#back").click(function () {
            location.href = "/eventmanage/eventmanage/cyclingsetting/"+$("#eventId");
        });
        //开始比赛
        $("#start").click(function () {
            var eventId = $("#eventId").val();
            var eventGroupId = $("#eventGroupId").val();
            //调用方法修改当前组别赛事状态
        });

    </script>
}
