@using nsda.Utilities
@using nsda.Model.dto.response
@model EventResponse
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "奖项设置";
    var eventGroup = ViewBag.EventGroup as List<EventGroupResponse>;
    var eventPrize = ViewBag.EventPrize as EventRegularAwardsResponse;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/eventmanage/eventmanageplayer.css?version=@Constant.Version">
    <link href="/asset/css/eventmanage/prize.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
    <link href="/asset/css/eventmanage/doublecheck.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
    <link href="/asset/css/common/common.css?version=@Constant.Version" rel="stylesheet" />
}
@Html.Partial("_left")
<div class="event-lists">
    <input type="hidden" id="eventId" value="@Model.Id"/>
    <input type="hidden" id="eventGroupId" value="@ViewBag.EventGroupId"/>
    <input type="hidden" id="hidPrizeGroup" value="@eventPrize.PrizeGroup" />
    <div class="list-top">
        @foreach (var item in eventGroup)
        {
            if (item.Id == ViewBag.EventGroupId)
            {
                <a href="/eventmanage/eventmanage/prize?eventId=@item.EventId&eventGroupId=@item.Id" class="active list">@item.Name</a>
            }
            else
            {
                <a href="/eventmanage/eventmanage/prize?eventId=@item.EventId&eventGroupId=@item.Id" class="list">@item.Name</a>
            }
        }
    </div>
    <div class="event-con prize">
        <div>
            <img src="/asset/img/prize_03.png" />
            <h4>奖项设置</h4>
        </div>
        <div class="prizesetting">
            <h3>常规奖项设置</h3>
            <div class="form-group">
                <label>优秀辩手 Outstanding Speakers 取 个人排名前：</label>
                @if (eventPrize.Personal > 0)
                {
                    <input type="number" class="radius5 box-sizing" placeholder="输入数字" id="personal" value="@eventPrize.Personal" />
                }
                else
                {
                    <input type="number" class="radius5 box-sizing" placeholder="输入数字" id="personal" value="" />
                }
            </div>
            <div class="form-group">
                <label>团队奖项 取 ：</label>
                <select id="group" class="radius5">
                    <option value="">选择 获奖团队</option>
                    <option value="7">Triple Octafinals</option>
                    <option value="6">Double Octafinals</option>
                    <option value="5">Octafinals</option>
                    <option value="4">Quarterfinals</option>
                    <option value="3">3rd 季军</option>
                    <option value="2">2nd 亚军</option>
                    <option value="1">1st 冠军</option>
                </select>
            </div>
            <button class="save radius5 darkblue color-white" id="saveprizesetting">确认保存设置</button>
        </div>
        <div>
            <div class="prizetitle">
                <h5>自定义奖项设置</h5>
                <button class="addprize radius5 blue color-white" id="addprize"><i class="iconfont icon-add1"></i> 添加奖项</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>奖项名称</th>
                        <th>奖项类型</th>
                        <th>获奖团队编码</th>
                        <th>获奖个人编号</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts
{
    <script src="/asset/js/enumreplace.js?version=@Constant.Version"></script>

<script src="/asset/js/slide.js?version=@Constant.Version"></script>
    <script>
        b();
        //添加奖项
        $("#addprize").click(function () {
            layer.open({
                title: "",
                type: 2,
                content: "/eventmanage/eventmanage/addprize?eventId=" + $("#eventId").val() + "&eventGroupId=" + $("#eventGroupId").val(),
                area: ["565px", "410px"],
                end: function () {
                    renderdata();
                }
            });
        });

        $(document).ready(function () {
            renderdata();
            renderGroup();
        });

        //渲染数据
        function renderdata()
        {
            $.ajax({
                url: "/eventmanage/eventmanage/listprize",
                type: "get",
                dataType: "json",
                data: {
                    eventId: $("#eventId").val(),
                    eventGroupId: $("#eventGroupId").val()
                },
                success: function (json) {
                    if (json.flag && json.data != null && json.data.length > 0) {
                        var html = '';
                        $.each(json.data, function (k, val) {
                            html += '<tr>';
                            html += '<td>' + val.Name + '</td>';
                            html += '<td>' + enumreplace.replacePrizeType(val.PrizeType) + '</td>';
                            if (val.PrizeType == 1) {
                                html += '<td></td>';
                                html += '<td>' + val.Num + '</td>';
                            } else {
                                html += '<td>' + val.Num + '</td>';
                                html += '<td></td>';
                            }
                            html += '<td class="operate"><a href="javascript:;" data-id=' + val.Id + ' class="prizebtn amend update darkgreen radius5 color-white">修改</a><a href="javascript:;" class="prizebtn delete orange radius5 color-white" data-id=' + val.Id + '>删除</a></td>';
                            html += '</tr>';
                        });
                        $("#data").html(html)
                    } else {
                        $("#data").html('');
                    }
                }
            });

            
        }
        function renderGroup()
        {
            var priceGroup = $("#hidPrizeGroup").val();
            $("#group").val(priceGroup);
        }

        //删除
        $(document).on("click", ".delete", function () {
            $.ajax({
                url: "/eventmanage/eventmanage/deleteprize",
                type: "post",
                dataType: "json",
                data: {
                    id: $(this).attr("data-id")
                },
                beforeSend: function () {
                    layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("删除成功", { icon: 1, time: 1000 });
                        renderdata();
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
             , error: function () {
                 layer.closeAll();
             }
            });
        });

            //编辑奖项
            $(document).on("click", ".update", function () {
                layer.open({
                    title: "",
                    type: 2,
                    content: "/eventmanage/eventmanage/updateprize/" + $(this).attr("data-id"),
                    area: ["565px", "410px"],
                    end: function () {
                        renderdata();
                    }
                })
            });

            //保存奖项设置
            $("#saveprizesetting").click(function () {
                var $Personal = $("#personal").val();
                if ($Personal == ""||$Personal == null)
                {
                    layer.msg('请输入个人排名数量', { icon: 5, time: 1000 });
                    return;
                }
                if (parseInt($Personal) <= 0)
                {
                    layer.msg('请输入个人排名数量有误', { icon: 5, time: 1000 });
                    return;
                }
                var $Group = $("#group").val();
                if ($Group <= 0)
                {
                    layer.msg('请选择团队奖项', { icon: 5, time: 1000 });
                    return;
                }
                $.ajax({
                    url: "/eventmanage/eventmanage/prizesettings",
                    type: "post",
                    dataType: "json",
                    data: {
                        EventId: $("#eventId").val(),
                        EventGroupId:$("#eventGroupId").val(),
                        Personal: $Personal,
                        PrizeGroup: $("#group").val()
                    },
                    beforeSend: function () {
                        layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                    },
                    success: function (json) {
                        layer.closeAll();
                        if (json.flag) {
                            layer.msg("操作成功", { icon: 1, time: 1000 });         
                            setTimeout(function () {
                                renderdata();
                            }, 500);
                        }
                        else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
                     , error: function () {
                         layer.closeAll();
                     }
                });

            });
    </script>
}
