@using nsda.Utilities
@using nsda.Model.dto.response
@model EventResponse
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "奖项设置";
    var eventGroup = ViewBag.EventGroup as List<EventGroupResponse>;
    var eventPrize = ViewBag.EventPrize as EventRegularAwardsResponse;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/eventmanageplayer.css?version=@Constant.Version">
    <link href="/asset/css/winnerlist.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
    <link href="/asset/css/doublecheck.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
<link href="/asset/css/common.css?version=@Constant.Version" rel="stylesheet" />
}
@Html.Partial("_left")
<div class="event-lists ">
    <input type="hidden" id="eventId" value="@Model.Id"/>
    <input type="hidden" id="eventGroupId" value="@ViewBag.EventGroupId"/>
    <div class="list-top">
        @foreach (var item in eventGroup)
        {
            if (item.Id == ViewBag.EventGroupId)
            {
                <a href="/eventmanage/eventmanage/winnerlist?eventId=@item.EventId&eventGroupId=@item.Id" class="active list">@item.Name</a>
            }
            else
            {
                <a href="/eventmanage/eventmanage/winnerlist?eventId=@item.EventId&eventGroupId=@item.Id" class="list">@item.Name</a>
            }
        }
    </div>
    <div class="event-con winner">
        <div>
            <img src="/asset/img/winner_03.png" />
            <h4>获奖名单</h4>
        </div>
        <div>
            <h5>Quaterfinals</h5>
            <table>
                <thead>
                    <tr>
                        <th>队伍编号</th>
                        <th>NSDA会员编号</th>
                        <th>姓名</th>
                        <th>年级</th>
                        <th>学校</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div>
            <h5>Semifinals</h5>
            <table>
                <thead>
                    <tr>
                        <th>队伍编号</th>
                        <th>NSDA会员编号</th>
                        <th>姓名</th>
                        <th>年级</th>
                        <th>学校</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="speaker">
            <h5>Outstanding Speaker</h5>
            <table>
                <thead>
                    <tr>
                        <th>队伍编号</th>
                        <th>NSDA会员编号</th>
                        <th>姓名</th>
                        <th>年级</th>
                        <th>学校</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script>
    </script>
}
