@{
    ViewBag.Title = "绑定学员";
}

<link href="@Url.Content("~/Content/asset/css/coachboundplayer.css?1.1.5")" rel="stylesheet" type="text/css" />
@Scripts.Render("~/Content/asset/layer/js/layer.js")

@Html.Partial("_coachtop")

<div class="container coach-con">
        @Html.Partial("_coachleft")
        <div class="score-con">
            <div class="score-top">
                <img class="integral" src="~/Content/asset/img/add_03.png" alt="...">
                <p class="scorecheck">Add your students</p>
                <button class="addbound" id="addplayer">Add New &nbsp;<i class="iconfont icon-jiahao"></i></button>
            </div>
            <div class="boundtable">
                <table>
                    <thead>
                        <tr>
                            <th>时间段</th>
                            <th>NSDA会员编号</th>
                            <th>姓名</th>
                            <th>执教期获胜数</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1999.7-2001.3<span>已验证</span></td>
                            <td>C1899254</td>
                            <td>Eric Patrick Clapton</td>
                            <td>5</td>
                            <td><button class="editcoach">Edit 修改</button> <button class="delcoach">Del 删除</button></td>
                        </tr>
                        <tr>
                            <td>1999.7-2001.3</td>
                            <td>C1899254</td>
                            <td>Eric Patrick Clapton</td>
                            <td>5</td>
                            <td><button class="editcoach">Edit 修改</button> <button class="delcoach">Del 删除</button></td>
                        </tr>
                        <tr>
                            <td>1999.7-2001.3<span>已验证</span></td>
                            <td>C1899254</td>
                            <td>Eric Patrick Clapton</td>
                            <td>5</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1999.7-2001.3</td>
                            <td>C1899254</td>
                            <td>Eric Patrick Clapton</td>
                            <td>6</td>
                            <td><button class="confirmbound">Confirm</button> <button class="notpass">Fail</button></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <nav aria-label="Page navigation" id="pager">
                <div class="page">
                    <a href="javascript:void(0);" class="prev"><</a>
                    <a href="javascript:void(0);" class="on">1</a>
                    <span>...</span>
                    <a href="javascript:void(0);">4</a>
                    <a href="javascript:void(0);">5</a>
                    <a href="javascript:void(0);">6</a>
                    <span>...</span>
                    <a href="javascript:void(0);">7</a>
                    <a href="javascript:void(0);" class="next">></a>
                </div>
            </nav>
        </div>
</div>
@Scripts.Render("~/Content/asset/js/selected.js")
<script>
    $("#addplayer").click(function () {
        layer.open({
            title: "Add your students",
            type: 2,
            content: "/Home/boundplayer",
            area: ["760px", "550px"],
            end: function () {
                location.reload();
            }
        });
    })

</script>