@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "新手组选手签到管理";
}
<link href="@Url.Content("~/Content/asset/css/eventmanageplayer.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/eventmanageknockout.css?2.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/eventplayersignin.css?2.1.0")" rel="stylesheet" type="text/css" />

@Html.Partial("_manager")
<div class="event-lists">
    <div class="list-top">
        <a href="/Home/eventnewplayersignin" class="list">新手组</a>
        <a href="/Home/eventopenplayersignin" class="active list">公开组</a>
    </div>
    
</div>


@Scripts.Render("~/Content/asset/js/block.js")