@{
    ViewBag.Title = "比赛报名";
}
<link href="@Url.Content("~/Content/asset/css/playersign.css?1.1.4")" rel="stylesheet" type="text/css" />

@Html.Partial("_playertop")

<div class="container player-compe">
    @Html.Partial("_playerleft")
    <div class="compe-con">
        <div class="address">
            <div class="address-item">
                <p>地点：</p><a href="javascript:;" class="selected">不限</a>
            </div>
            <div class="address-con">
                <p>国内赛区：</p>
                <a href="javascript:;">郑州</a>
                <a href="javascript:;">西安</a>
                <a href="javascript:;">宁波</a>
                <a href="javascript:;">杭州</a>
                <a href="javascript:;">成都</a>
                <a href="javascript:;">青岛</a>
                <a href="javascript:;">长沙</a>
                <a href="javascript:;">南京</a>
                <a href="javascript:;">上海</a>
                <a href="javascript:;">深圳</a>
                <a href="javascript:;">无锡</a>
                <a href="javascript:;">济南</a>
                <a href="javascript:;">北京</a>

            </div>
            <div class="address-con-two">
                <p>国际赛区：</p>
                <a href="javascript:;">郑州</a>
                <a href="javascript:;">西安</a>
                <a href="javascript:;">宁波</a>
                <a href="javascript:;">杭州</a>
                <a href="javascript:;">成都</a>
                <a href="javascript:;">青岛</a>
            </div>
        </div>
        <div class="level">
            <div class="level-item">
                <p>级别：</p><a href="javascript:;" class="selected">不限</a>
            </div>
            <div class="level-con">
                <a href="javascript:;">A</a>
                <a href="javascript:;">B</a>
                <a href="javascript:;">C</a>
                <a href="javascript:;">D</a>
                <a href="javascript:;">E</a>
            </div>
        </div>
        <div class="time">
            <div class="time-item">
                <p>时间：</p><a href="javascript:;" class="selected">不限</a>
            </div>
            <div class="time-con">
                <a href="javascript:;" class="active tabt">2017</a>
                <a href="javascript:;" class="tabt">2018</a>
            </div>
            <div class="month-con month-con-first tabcon">
                <a href="javascript:;">一月<br>Jan.</a>
                <a href="javascript:;">二月<br>Feb.</a>
                <a href="javascript:;">三月<br>Mar.</a>
                <a href="javascript:;">四月<br>Apr.</a>
                <a href="javascript:;">五月<br>May.</a>
                <a href="javascript:;">六月<br>Jun.</a>
                <a href="javascript:;">七月<br>Jul.</a>
                <a href="javascript:;">八月<br>Aug.</a>
                <a href="javascript:;">九月<br>Sep.</a>
                <a href="javascript:;">十月<br>Oct.</a>
                <a href="javascript:;">十一月<br>Nov.</a>
                <a href="javascript:;">十二月<br>Dec.</a>
            </div>
            <div class="month-con month-con-two tabcon">
                <a href="javascript:;">一月<br>Jan.</a>
                <a href="javascript:;">二月<br>Feb.</a>
                <a href="javascript:;">三月<br>Mar.</a>
                <a href="javascript:;">四月<br>Apr.</a>
                <a href="javascript:;">五月<br>May.</a>
                <a href="javascript:;">六月<br>Jun.</a>
                <a href="javascript:;">七月<br>Jul.</a>
                <a href="javascript:;">八月<br>Aug.</a>
                <a href="javascript:;">九月<br>Sep.</a>
                <a href="javascript:;">十月<br>Oct.</a>
                <a href="javascript:;">十一月<br>Nov.</a>
                <a href="javascript:;">十二月<br>Dec.</a>
            </div>
        </div>


        <table>
            <thead>
                <tr>
                    <th>比赛编码</th>
                    <th>比赛名称</th>
                    <th>类别</th>
                    <th>级别</th>
                    <th>开始日期</th>
                    <th>城市</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td>报名已截止</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td>报名已截止</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" id="pager">
            <div class="page">
                <a href="javascript:void(0);" class="prev"><</a>
                <a href="javascript:void(0);" class="on">1</a>
                <span>...</span>
                <a href="javascript:void(0);">4</a>
                <a href="javascript:void(0);">5</a>
                <a href="javascript:void(0);">6</a>
                <span>...</span>
                <a href="javascript:void(0);">7</a>
                <a href="javascript:void(0);" class="next">></a>
            </div>
        </nav>
    </div>
</div>
@Scripts.Render("~/Content/asset/js/tabs.js")
@Scripts.Render("~/Content/asset/js/click.js")


<script>
    var classVal = document.getElementById("collapseOne").getAttribute("class");
    classVal = classVal.concat("in");
    document.getElementById("collapseOne").setAttribute("class", classVal);

</script>









