@{
    ViewBag.Title = "修改个人资料";
}
<link href="@Url.Content("~/Content/asset/css/Playercenter.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/Playerintegral.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/Playerpersonal.css?1.1.5")" rel="stylesheet" type="text/css" />

@Scripts.Render("~/Content/asset/layer/js/layer.js")

@Html.Partial("_PlayerTop")

<div class="container player-compe">
        @Html.Partial("_PlayerLeft")
        <div class="score-con">
            <div class="score-top">
                <img class="integral" src="~/Content/asset/img/score_03.jpg" alt="...">
                <p class="scorecheck">修改个人资料</p>
            </div>
            <div class="per-con">
                <div class="person-title"></div>
                <div class="modifyinfo">
                    <div class="form-group">
                        <label>注册邮箱</label>
                        <div class="form-con"><p>admin@enreachedu.com</p></div>
                    </div>
                    <div class="form-group">
                        <label for="phone">联系电话</label>
                        <div class="form-con">
                            <input type="text" id="phone">
                        </div>
                    </div>
                    <div class="form-group two-label">
                        <div>
                            <label for="emrcontact">紧急联系人</label>
                            <div class="form-con">
                                <input type="text" id="emrcontact">
                            </div>
                        </div>
                        <div>
                            <label for="emrphone">紧急电话</label>
                            <div class="form-con">
                                <input type="text" id="emrphone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group current-coach">
                        <label>目前教练</label>
                        <div class="form-con"><p class="coach">Eric</p><a href="/Home/PlayerBoundCoach" class="modifycoach">修改</a></div>
                    </div>
                    <div class="form-group education">
                        <label>教育经历</label>
                        <div class="form-con">
                            <ul class="edulists">
                                <li>
                                    <span class="addedu" id="addedu">添加</span>
                                </li>
                                <li>
                                    <p>1999 / 09 - 至今</p>
                                    <p>上海</p>
                                    <p>上海</p>
                                    <p>西南位育中学国际部</p>
                                    <a href="#" class="editedu">编辑</a>
                                    <a href="#" class="deledu">删除</a>
                                </li>
                                <li>
                                    <p>1999 / 09 - 2001 / 07</p>
                                    <p>上海</p>
                                    <p>澳大利亚</p>
                                    <p>西南位育中学国际部</p>
                                    <a href="#" class="editedu">编辑</a>
                                    <a href="#" class="deledu">删除</a>
                                </li>
                                <li>
                                    <p>1999 / 09 - 2001 / 07</p>
                                    <p>上海</p>
                                    <p>澳大利亚</p>
                                    <p>西南位育中学国际部</p>
                                    <a href="#" class="editedu">编辑</a>
                                    <a href="#" class="deledu">删除</a>
                                </li>
                                <li>
                                    <p>1999 / 09 - 2001 / 07</p>
                                    <p>上海</p>
                                    <p>澳大利亚</p>
                                    <p>西南位育中学国际部</p>
                                    <a href="#" class="editedu">编辑</a>
                                    <a href="#" class="deledu">删除</a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                    <input type="button" value="修改个人资料" class="submit" id="test1">
                </div>
                <div class="modifypassword">
                    <img src="~/Content/asset/img/password_03.jpg" alt="" />
                    <div class="modifypanel">
                            <input type="password" placeholder="输入新密码">
                            <input type="password" placeholder="再次输入新密码">
                            <input type="button" value="确认新密码" class="confirmnewpassword">
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $("#addedu").click(function () {
        layer.open({
            title: "新增教育经历",
            type: 2,
            content: "/Home/addedu",
            area: ["760px", "530px"],
            end: function () {
                location.reload();
            }
        });
    })
</script>