@{
    ViewBag.Title = "比赛报名";
}
<link href="@Url.Content("~/Content/asset/css/playercenter.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/playersign.css?1.1.4")" rel="stylesheet" type="text/css" />
@Scripts.Render("~/Content/asset/layer/js/layer.js")

@Html.Partial("_playertop")

<div class="container player-compe">
    @Html.Partial("_playerleft")
    <div class="compe-con">
        <div class="address">
            <p class="ads">地点：</p>
            <ul class="address-lists common-lists">
                <li class="selected">不限</li>
                <p class="division">国内赛区：</p>
                <li>郑州</li>
                <li>西安</li>
                <li>宁波</li>
                <li>杭州</li>
                <li>成都</li>
                <li>青岛</li>
                <li>长沙</li>
                <li>南京</li>
                <li>上海</li>
                <li>深圳</li>
                <li>无锡</li>
                <li>济南</li>
                <li>北京</li>
                <br />
                <p class="division international">国际赛区：</p>
                <li>美国</li>
                <li>韩国</li>
                <li>日本</li>
                <li>台湾</li>
            </ul>
        </div>
        <div class="level">
            <p class="lev">地点：</p>
            <ul class="level-lists common-lists">
                <li class="selected">不限</li>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
            </ul>
        </div>
        <div class="time">
            <p class="tim">地点：</p>
            <ul class="time-lists common-lists">
                <li class="selected nolimit">不限</li>
                <div class="nav-tabs tab" id="myTabs">
                    <div role="presentation" class="active tabt">2017</div>
                    <div role="presentation" class="tabt">2018</div>
                </div>
                <div class="time-mons tabc">
                    <ul class="time-mon monsev tabcon">
                        <li>一月<br>Jan.</li>
                        <li>二月<br>Feb.</li>
                        <li>三月<br>Mar.</li>
                        <li>四月<br>Apr.</li>
                        <li>五月<br>May.</li>
                        <li>六月<br>Jun.</li>
                        <li>七月<br>Jul.</li>
                        <li>八月<br>Aug.</li>
                        <li>九月<br>Sep.</li>
                        <li>十月<br>Oct.</li>
                        <li>十一月<br>Nov.</li>
                        <li>十二月<br>Dec.</li>
                    </ul>
                    <ul class="time-mon moneig tabcon">
                        <li>一月<br>Jan.</li>
                        <li>二月<br>Feb.</li>
                        <li>三月<br>Mar.</li>
                        <li>四月<br>Apr.</li>
                        <li>五月<br>May.</li>
                        <li>六月<br>Jun.</li>
                        <li>七月<br>Jul.</li>
                        <li>八月<br>Aug.</li>
                        <li>九月<br>Sep.</li>
                        <li>十月<br>Oct.</li>
                        <li>十一月<br>Nov.</li>
                        <li>十二月<br>Dec.</li>
                    </ul>
                </div>
            </ul>
        </div>
        <table>
            <thead>
                <tr>
                    <th>比赛编码</th>
                    <th>比赛名称</th>
                    <th>类别</th>
                    <th>级别</th>
                    <th>开始日期</th>
                    <th>城市</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td>报名已截止</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td>报名已截止</td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
                <tr>
                    <td>01</td>
                    <td>02</td>
                    <td>03</td>
                    <td>04</td>
                    <td>05</td>
                    <td>06</td>
                    <td><a href="javascript:;" class="sign">立即报名</a></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" id="pager">
            <div class="page">
                <a href="javascript:void(0);" class="prev"><</a>
                <a href="javascript:void(0);" class="on">1</a>
                <span>...</span>
                <a href="javascript:void(0);">4</a>
                <a href="javascript:void(0);">5</a>
                <a href="javascript:void(0);">6</a>
                <span>...</span>
                <a href="javascript:void(0);">7</a>
                <a href="javascript:void(0);" class="next">></a>
            </div>
        </nav>
    </div>
</div>
@Scripts.Render("~/Content/asset/js/tabs.js")
@Scripts.Render("~/Content/asset/js/click.js")










