@using nsda.Utilities
@using nsda.Model.dto.response
@{
    ViewBag.Title = "会员中心";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
    var data = ViewBag.Condition as List<EventConditionResponse>;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/playersign.css?version=@Constant.Version">
}
<div class="compe-con">
    <div class="address group">
        @if (data != null)
        {
            <div class="address-item group-item">
                <p>地点：</p><a href="javascript:;" id="addressUnlimited" class="selected">不限</a>
            </div> 
            var datas = data.Where(c => !c.IsInter);
            if (datas != null)
            {
                <div class="address-con group-con">
                    <p>国内赛区：</p>
                    @foreach (var item in datas)
                    {
                        <a href="javascript:;" class="selectaddress" data-cityId="@item.CityId" data-provinceId="@item.ProvinceId">@item.CityName</a>
                    }
                </div>
            }
            var datass = data.Where(c => c.IsInter);
            if (datass != null)
            {  
                <div class="address-con-two group-con">
                <p>国际赛区：</p>
                @foreach (var item in datass)
                {
                    <a href="javascript:;" class="selectaddress" data-provinceId="@item.ProvinceId" data-cityId="0">@item.ProvinceName</a>
                }
        </div>
            }
        }
    </div>

    <div class="level group">
        <div class="level-item group-item">
            <p>级别：</p><a href="javascript:;"  id="levelUnlimited" class="selected">不限</a>
        </div>
        <div class="level-con group-con">
            <a href="javascript:;" class="selectlevel" date-eventlevel="1">A</a>
            <a href="javascript:;" class="selectlevel" date-eventlevel="2">B</a>
            <a href="javascript:;" class="selectlevel" date-eventlevel="3">C</a>
            <a href="javascript:;" class="selectlevel" date-eventlevel="4">D</a>
            <a href="javascript:;" class="selectlevel" date-eventlevel="5">E</a>
        </div>
    </div>

    <div class="time group">
        <div class="time-item group-item">
            <p>时间：</p><a href="javascript:;" id="timeUnlimited" class="selected">不限</a>
        </div>
        <div class="time-con group-con">
            <a href="javascript:;" class="active tabt">@DateTime.Now.Year</a>
            <a href="javascript:;" class="tabt">@DateTime.Now.AddYears(1).Year</a>
        </div>

        <div class="month-con month-con-first tabcon group-con">
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-01-01")">一月<br>Jan.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-02-01")">二月<br>Feb.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-03-01")">三月<br>Mar.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-04-01")">四月<br>Apr.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-05-01")">五月<br>May.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-06-01")">六月<br>Jun.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-07-01")">七月<br>Jul.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-08-01")">八月<br>Aug.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-09-01")">九月<br>Sep.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-10-01")">十月<br>Oct.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-11-01")">十一月<br>Nov.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.ToString("yyyy-12-01")">十二月<br>Dec.</a>
        </div>
        <div class="month-con month-con-two tabcon group-con">
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-01-01")">一月<br>Jan.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-02-01")">二月<br>Feb.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-03-01")">三月<br>Mar.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-04-01")">四月<br>Apr.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-05-01")">五月<br>May.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-06-01")">六月<br>Jun.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-07-01")">七月<br>Jul.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-08-01")">八月<br>Aug.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-09-01")">九月<br>Sep.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-10-01")">十月<br>Oct.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-11-01")">十一月<br>Nov.</a>
            <a href="javascript:;" class="selecttime" data-date="@DateTime.Now.AddYears(1).ToString("yyyy-12-01")">十二月<br>Dec.</a>

        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>比赛编码</th>
                <th>比赛名称</th>
                <th>类别</th>
                <th>级别</th>
                <th>开始日期</th>
                <th>城市</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="data"></tbody>
    </table>
    <nav aria-label="Page navigation" id="pager">
    </nav>
</div>

@section scripts
{
    <script src="/asset/js/common.js?version=@Constant.Version"></script>
    <script src="/asset/js/enumreplace.js?version=@Constant.Version"></script>
    <script src="/asset/js/pager.js"></script>
    <script src="/asset/js/tabs.js?version=@Constant.Version"></script>
    <script>
        $(document).ready(function () {
            $("#collapseOne").addClass("in");
        });

        (function (w) {
            var playerevent = {
                param: {
                    TotalPage: 1,
                    PageIndex: 1,
                    PageSize: 10,
                    ProvinceId: 0,
                    CityId: 0,
                    EventLevel: 0,
                    StartDate:""
                }
            };
            playerevent.Load = function (filter) {
                $.ajax({
                    url: "/commondata/listevent",
                    type: "get",
                    dataType: "json",
                    data: filter,
                    success: function (json) {
                        if (json.records > 0) {
                            var _pager = new w.pager({
                                'parent': $('#pager')
                            });
                            playerevent.param.TotalPage = json.total;
                            _pager.init(filter, playerevent.param.PageIndex, playerevent.param.TotalPage, function (p) {
                                playerevent.param.PageIndex = p;
                                playerevent.Load(playerevent.param)
                            });
                            var html = '';
                            $.each(json.rows, function (k, val) {
                                html += '<tr>';
                                html += '<td>' + val.EventCode + '</td>';
                                html += '<td>' + val.EventName + '</td>';
                                html += '<td>' + enumreplace.replaceeventType(val.EventType) + '</td>';
                                html += '<td>' + enumreplace.replaceeventLevel(val.EventLevel) + '</td>';
                                html += '<td>' + parseDate(new Date(val.StartEventDate), "yyyy-MM-dd").format + '</td>';
                                if (val.CityName == null || val.CityName == "") {
                                    html += '<td>' + val.ProvinceName + '</td>';
                                }
                                else {
                                    html += '<td>' + val.CityName + '</td>';
                                }
                                if (val.Visiable==3) {
                                    html += '<td><a href="/events/detail/'+val.EventId+'" class="sign">立即报名</a></td>';
                                } else {
                                    html += '<td>报名已截止</td>';
                                }
                                html += '</tr>';
                            });
                            $("#data").html(html)
                        } else {
                            $("#data").html('');
                            $("#pager").html("")
                        }
                    }
                })
            };
            w.playerevent = playerevent
        })(window);
        playerevent.Load(playerevent.param);

        //时间
        $("#timeUnlimited").click(function () {
            $(this).addClass("selected");
            $(".selecttime").removeClass("selected");
            playerevent.param.StartDate = "";
            playerevent.Load(playerevent.param);
        });
        $(".selecttime").click(function () {
            var $this = $(this);
            if ($this.hasClass("selected")) {
                $this.removeClass("selected");
                $("#timeUnlimited").addClass("selected");
                playerevent.param.StartDate = "";
            } else {
                $(".selecttime").removeClass("selected");
                $this.addClass("selected");
                $("#timeUnlimited").removeClass("selected");
                playerevent.param.StartDate = $this.attr("data-date");
            }
            playerevent.Load(playerevent.param);
        });
        //地址
        $("#addressUnlimited").click(function () {
            $(this).addClass("selected");
            $(".selectaddress").removeClass("selected");
            playerevent.param.ProvinceId = 0;
            playerevent.param.CityId = 0;
            playerevent.Load(playerevent.param);
        });
        $(".selectaddress").click(function () {
            var $this = $(this);
            if ($this.hasClass("selected")) {
                $this.removeClass("selected");
                $("#addressUnlimited").addClass("selected");
                playerevent.param.ProvinceId = 0;
                playerevent.param.CityId = 0;
            } else {
                $(".selectaddress").removeClass("selected");
                $this.addClass("selected");
                $("#addressUnlimited").removeClass("selected");
                playerevent.param.ProvinceId = $this.attr("data-provinceId");
                playerevent.param.CityId = $this.attr("data-cityId");
            }
            playerevent.Load(playerevent.param);
        });
        //等级
        $("#levelUnlimited").click(function () {
            $(this).addClass("selected");
            $(".selectlevel").removeClass("selected");
            playerevent.param.EventLevel = 0;
            playerevent.Load(playerevent.param);
        });
        $(".selectlevel").click(function () {
            var $this = $(this);
            if ($this.hasClass("selected")) {
                $this.removeClass("selected");
                $("#levelUnlimited").addClass("selected");
                playerevent.param.EventLevel = 0;
            } else {
                $(".selectlevel").removeClass("selected");
                $this.addClass("selected");
                $("#levelUnlimited").removeClass("selected");
                playerevent.param.EventLevel = $this.attr("date-eventlevel");
            }
            playerevent.Load(playerevent.param);
        });
    </script>
}