@using nsda.Utilities
@{
    ViewBag.Title = "会员中心";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
    var data = ViewBag.Condition as List<nsda.Model.dto.response.EventConditionResponse>;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/playercenter.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/playersign.css?version=@Constant.Version">
}
<div class="compe-con">
    <div class="address" >
       @if (data != null)
       {
            <p class="ads">地点：</p>
            <ul class="address-lists common-lists">
                <li class="selected">不限</li>
                @{
                    var datas = data.Where(c => !c.IsInter);
                    if (datas != null)
                    {
                        <p class="division">国内赛区：</p>
                        foreach (var item in datas)
                        {
                            <li data-cityId="@item.CityId">@item.CityName</li>
                        }
                    }
                    var datass = data.Where(c => c.IsInter);
                    if (datass != null)
                    {
                        <p class="division international">国际赛区：</p>
                        foreach (var item in datass)
                        {
                            <li data-provinceId="@item.ProvinceId">@item.ProvinceName</li>
                        }
                    }
                }
            </ul>
       }
   </div>
   
    <div class="level">
        <p class="lev">级别：</p>
        <ul class="level-lists common-lists">
            <li class="selected" date-eventlevel="0">不限</li>
            <li date-eventlevel="1">A</li>
            <li date-eventlevel="2">B</li>
            <li date-eventlevel="3">C</li>
            <li date-eventlevel="4">D</li>
            <li date-eventlevel="5">E</li>
        </ul>
    </div>

    <div class="time">
        <p class="tim">时间：</p>
        <ul class="time-lists common-lists">
            <li class="selected nolimit">不限</li>
            <div class="nav-tabs tab" id="myTabs">
                <div role="presentation" class="active tabt">@DateTime.Now.Year</div>
                <div role="presentation" class="tabt">@DateTime.Now.AddYears(1).Year</div>
            </div>
            <div class="time-mons tabc">
                <ul class="time-mon monsev tabcon">
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-01-01")">一月<br>Jan.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-02-01")">二月<br>Feb.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-03-01")">三月<br>Mar.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-04-01")">四月<br>Apr.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-05-01")">五月<br>May.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-06-01")">六月<br>Jun.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-07-01")">七月<br>Jul.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-08-01")">八月<br>Aug.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-09-01")">九月<br>Sep.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-10-01")">十月<br>Oct.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-11-01")">十一月<br>Nov.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-12-01")">十二月<br>Dec.</li>
                </ul>
                <ul class="time-mon moneig tabcon">
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-01-01")">一月<br>Jan.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-02-01")">二月<br>Feb.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-03-01")">三月<br>Mar.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-04-01")">四月<br>Apr.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-05-01")">五月<br>May.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-06-01")">六月<br>Jun.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-07-01")">七月<br>Jul.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-08-01")">八月<br>Aug.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-09-01")">九月<br>Sep.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-10-01")">十月<br>Oct.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-11-01")">十一月<br>Nov.</li>
                    <li data-date="@DateTime.Now.AddYears(1).ToString("yyyy-12-01")">十二月<br>Dec.</li>
                </ul>
            </div>
         </ul>
    </div>

    <table>
        <thead>
            <tr>
                <th>比赛编码</th>
                <th>比赛名称</th>
                <th>类别</th>
                <th>级别</th>
                <th>开始日期</th>
                <th>城市</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
    <nav aria-label="Page navigation" id="pager">
    </nav>
</div>

@section scripts
{
   <script src="/asset/js/common.js"></script>
   <script src="/asset/js/enumreplace.js"></script>
   <script src="/asset/js/pager.js"></script>
   <script src="/asset/js/tabs.js"></script>
   <script src="/asset/js/click.js"></script>
    <script>
        (function (w) {
            var playerevent = {
                param: {
                    TotalPage: 1,
                    PageIndex: 1,
                    PageSize: 10,
                    ProvinceId: 0,
                    CityId: 0,
                    EventLevel: 0,
                    StartDate:""
                }
            };
            playerevent.Load = function (filter) {
                $.ajax({
                    url: "/commondata/listevent",
                    type: "get",
                    dataType: "json",
                    data: filter,
                    success: function (json) {
                        if (json.records > 0) {
                            var _pager = new w.pager({
                                'parent': $('#pager')
                            });
                            playerevent.param.TotalPage = json.total;
                            _pager.init(filter, playerevent.param.PageIndex, playerevent.param.TotalPage, function (p) {
                                playerevent.param.PageIndex = p;
                                playerevent.Load(playerevent.param)
                            });                            var html = '';
                            $.each(json.rows, function (k, val) {
                                html += '<tr>';
                                html += '<td>' + val.EventCode + '</td>';
                                html += '<td>' + val.EventName + '</td>';
                                html += '<td>' + enumreplace.replaceeventType(val.EventType) + '</td>';
                                html += '<td>' + enumreplace.replaceeventLevel(val.EventLevel) + '</td>';
                                html += '<td>' + parseDate(new Date(val.StartEventDate), "yyyy-MM-dd").format + '</td>';
                                if (val.CityName == null || val.CityName == "") {
                                    html += '<td>' + val.ProvinceName + '</td>';
                                }
                                else {
                                    html += '<td>' + val.CityName + '</td>';
                                }
                                if (val.IsVisiable) {
                                    html += '<td><a href="javascript:;" class="sign">立即报名</a></td>';
                                } else {
                                    html += '<td></td>';
                                }
                                html += '</tr>';
                            });
                            $("#data").html(html)
                        } else {
                            $("#data").html('');
                            $("#pager").html("")
                        }
                    }
                })
            };
            w.playerevent = playerevent
        })(window);
        playerevent.Load(playerevent.param);

        //时间
        $("#time").click(function () {
            playerevent.param.StartDate = "";
            playerevent.Load(playerevent.param);
        });
        //地址
        $("#address").click(function () {
            playerevent.param.ProvinceId = 0;
            playerevent.param.CityId = 0;
            playerevent.Load(playerevent.param);
        });
        //等级
        $("#level").click(function () {
            playerevent.param.EventLevel = 0;
            playerevent.Load(playerevent.param);
        });
    </script>
}