@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "Octafinals 评分单录入";
}
<link href="@Url.Content("~/Content/asset/css/eventmanageplayer.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/doublecheck.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="~/Content/asset/css/writegrades.css?1.0.0" rel="stylesheet" />
<link href="@Url.Content("~/Content/asset/css/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="~/Content/asset/css/octafinals.css?1.1.0" rel="stylesheet" />
@Html.Partial("_manager")
<div class="event-lists ">
    <div class="list-top">
        <a href="/Home/doublecheck" class="active list">新手组</a>
        <a href="/Home/doublecheck" class="list">公开组</a>
    </div>
    <div class="event-con">
        <div>
            <img src="~/Content/asset/img/vs_03.png" />
            <h4>第一轮 评分单录入 </h4>
            <a href="javascript:;" class="pre blue posright radius5"><i class="iconfont icon-plus-preview"></i><p>预览对垒表</p></a>
        </div>
        <div>
            <a href="/Eventmanage/doublecheck" class="check poscen lightgreen radius5"><i class="iconfont icon-duihao1"></i><p>Double Check 审核通过</p></a>
            <a href="javascript:;" class="pre green posright radius5"><i class="iconfont icon-dayin"></i><p>打印标签纸</p></a>
            <a href="javascript:;" class="pre orange posright radius5"><i class="iconfont icon-dayin"></i><p>打印评分单</p></a>
        </div>
        <div class="set">
            <input id="txt" type="text" class="radius5" placeholder="输入NSDA会员编号/会员姓名" />
            <a href="javascript:;" id="search" class="search radius5 deepblue color-white">搜索</a>
            <select size="2" id="sel" class="radius5" style="display:none;">
                <option>123</option>
                <option>23456</option>
                <option>1111</option>
                <option>123333</option>
                <option>aaaa</option>
                <option>1bbb23</option>
            </select>
            <button class="check lightorange radius5"><i class="iconfont icon-duihao1"></i><p>查看还未递交评分单的对垒</p></button>
        </div>
        <div class="constep">
            <div class="paper flighta">
                <div><p class="flight">Flight A</p><p class="ftime">Start 9:25</p></div>
                <div><h3>裁判：</h3><p class="jnumber">J325691234567890</p><p class="name">Nicolas</p><h3 class="room">Room：</h3><p class="roomnum">A201</p></div>
                <table class="pro">
                    <thead>
                        <tr>
                            <th colspan="2">PRO.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">队伍编号： 026<span class="radius50"><i class="iconfont icon-exchangejiaohuan"></i></span></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" role="button" class="rolebutton radius5 color-white">Lose</td>
                        </tr>
                    </tbody>
                </table>
                <table class="con">
                    <thead>
                        <tr>
                            <th colspan="2">CON.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">队伍编号： 651</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" role="button" class="rolebutton click radius5 color-white">WIN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paper flighta">
                <div><p class="flight">Flight A</p><p class="ftime">Start 9:25</p></div>
                <div><h3>裁判：</h3><p class="jnumber">J325691234567890</p><p class="name">Nicolas</p><h3 class="room">Room：</h3><p class="roomnum">A201</p></div>
                <table class="pro">
                    <thead>
                        <tr>
                            <th colspan="2">PRO.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">队伍编号： 026<span class="radius50"><i class="iconfont icon-exchangejiaohuan"></i></span></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" role="button" class="rolebutton radius5 color-white">WIN</td>
                        </tr>
                    </tbody>
                </table>
                <table class="con">
                    <thead>
                        <tr>
                            <th colspan="2">CON.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">队伍编号： 651</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" role="button" class="rolebutton click radius5 color-white">WIN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="refer">提交评分单</button>
        </div>
    </div>
</div>

@Scripts.Render("~/Content/asset/js/block.js")


