@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "奖项设置";
}
<link href="@Url.Content("~/Content/asset/css/eventmanage/eventmanageplayer.css?2.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/eventmanage/doublecheck.css?2.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/common/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="~/Content/asset/css/eventmanage/prize.css?2.1.0" rel="stylesheet" />
@Scripts.Render("~/Content/asset/layer/js/layer.js")

@Html.Partial("_manager")
<div class="event-lists ">
    <div class="list-top">
        <a href="/Eventmanage/doublecheck" class="active list">新手组</a>
        <a href="/Eventmanage/doublecheck" class="list">公开组</a>
    </div>
    <div class="event-con prize">
        <div>
            <img src="~/Content/asset/img/prize_03.png" />
            <h4>奖项设置</h4>
        </div>
        <div class="prizesetting">
            <h3>常规奖项设置</h3>
            <div class="form-group">
                <label>优秀辩手 Outstanding Speakers 取 个人排名前：</label>
                <input type="number" class="radius5 box-sizing" placeholder="输入数字" />
            </div>
            <div class="form-group">
                <label>团队奖项 取 ：</label>
                <select id="roomclass" class="radius5">
                    <option value="1">选择 获奖团队</option>
                    <option value="2">团队奖</option>
                    <option value="3">个人奖</option>
                </select>
            </div>
            <button class="save radius5 darkblue color-white">确认保存设置</button>
        </div>
        <div>
            <div class="prizetitle">
                <h5>自定义奖项设置</h5>
                <button class="addprize radius5 blue color-white"><i class="iconfont icon-add1"></i> 添加奖项</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>奖项名称</th>
                        <th>奖项类型</th>
                        <th>获奖团队编码</th>
                        <th>获奖个人编号</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="operate">
                            <a href="javascript:;" class="prizebtn amend darkgreen radius5 color-white">修改</a>
                            <a href="javascript:;" class="prizebtn delete orange radius5 color-white">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="operate">
                            <a href="javascript:;" class="prizebtn delete orange radius5 color-white">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="operate">
                            <a href="javascript:;" class="prizebtn amend darkgreen radius5 color-white">修改</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    $(".addprize").click(function () {
        layer.open({
            title: "",      
            type: 2,
            content: "/Home/addprize",
            area: ["565px", "410px"],
            end: function () {
                location.reload();
            }
        });
    })
</script>

